*{
    background-color: rgb(255, 0, 238);
}
#button{
    /* align-items: center; */
    margin-top: 20%;
    margin-left: 47%;
    height: auto;
    background-color: rgb(208, 255, 127);
    width: 13%;
    height: 90%;
}